// Normalize
@import '../bootstrap/css/bootstrap';
@import '../bootstrap/css/bootstrap-theme';

//Utils
@import 'utils/variables.scss';
@import 'utils/mixin.scss';
@import 'utils/effects.scss';

// Common
@import 'common/header.scss';
@import 'common/footer.scss';
@import 'common/content.scss';
@import 'common/sidebar.scss';

//Pages
@import 'pages/home.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: $body-bg;
}

img {
  max-width: 100%;
  height: auto;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row {
    margin-bottom: 1px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

  // Force moving boxes to next line where it s needed
  @include respond-to( medium ) {
      display: block;
  }
}


#wrapper {
    margin: 60px auto;
    background: $wrap-background;
    max-width: $wrap-width;
    width: 100%;
    padding: $wrap-padding;
    overflow: hidden;
    @include box-shadow( 0, 0, 25px );

    @include respond-to( tablets ) {
      margin: 10px auto;
    }
}