{% include 'common/header.html' %}
<header class="row pageHeader">
    <div class="col-md-200">
        <h1>{{heading}}</h1>
        <h3>{{sub_heading}}</h3>
    </div>
</header>

<div class="row pageArea">
    <div class="col-md-43 col-sm-200">
        <nav class="innerNav">
            <ul>
                <li><a href="#">Information</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">About our company</a></li>
            </ul>
        </nav>
    </div>

    <div class="col-md-152 col-md-offset-5">
    {{content_body}}
    </div>
</div>

{% include 'common/page_footer.html' %}
{% include 'common/sidebar.html' %}
{% include 'common/footer.html' %}