{% include 'common/header.html' %}
<header class="row pageHeader">
    <div class="col-md-200">
        <h1>{{heading}}</h1>
        <h3>{{sub_heading}}</h3>
    </div>
</header>

<div class="row pageArea">
    <div class="col-md-43 col-sm-200">
        <nav class="innerNav">
            <ul>
                <li><a href="/hnw-asset-search/">Asset Search</a></li>
                <li><a href="/autos/">Autos</a></li>
                <li><a href="/aviation/">Aviation</a></li>
                <li><a href="/businesses/">Businesses</a></li>
                <li><a href="/commercial-property/">Commercial Property</a></li>
                <li><a href="/fine-art/">Fine Art</a></li>
                <li><a href="/hnw-yachts/">HNW Yachts</a></li>
                <li><a href="/jewelry/">Jewelry</a></li>
                <li><a href="/luxury-residences/">Luxury Residences</a></li>
            </ul>
        </nav>
    </div>

    <div class="col-md-152 col-md-offset-5">
        {{content_body}}
    </div>
</div>

{% include 'common/page_footer.html' %}
{% include 'common/sidebar.html' %}
{% include 'common/footer.html' %}