{% include 'common/header.html' %}

                    <div class="row row-eq-height">
                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox">
                                <img src="{{assets_img}}yacht_2.jpg" alt="">
                                <div class="overlay">
                                    <h1>COMPANY</h1>

                                    <div class="textBox">
                                        <p>Proprietor Mr John D Allen, from England, has over 20 years in precise search strategies, shielding clients from the many ambitious, and somewhat aggressive, brokers and agents.</p>
                                        <p>The family name Leveridge has a multi-generational history of excellent client confidentiality. With focus and nature of receiving by giving and trust via proof of service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-76 col-sm-200">
                            <form action="#" method="POST" id="request">
                                <fieldset>
                                    <label for="description">What are you looking for?</label>
                                    <textarea name="description" id="description"></textarea>

                                    <label for="email">Email</label>
                                    <input type="email" placeholder="your@emailaddress.com" name="email" id="email">

                                    <input name="send" id="send" value="Send" type="submit">
                                </fieldset>

                                <div class="formMeta">
                                    <small>Results will be sent to you, anonymously, in 48 hours.</small>
                                </div>
                            </form>

                            <div class="prodBox effect">
                                <img src="{{assets_img}}luxurycar.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-eq-height">
                        <div class="col-md-76 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}plane.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>

                            <div class="prodBox effect">
                                <img src="{{assets_img}}yacht.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}boat.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/#content-->


                <footer id="pageFooter" class="row row-eq-height">
                    <div class="col-md-130 col-sm-200">
                        <nav class="pagesNav">
                            {% include 'common/pages.html' %}
                        </nav>
                    </div>

                    <div class="col-md-69 col-md-offset-1 col-sm-200">
                        <div class="copyright">
                            <span>Copyright Forever Leveridge Search</span>
                            <a href="#">Website by Mirahost</a>
                        </div>
                    </div>

                </footer>

            </div><!--/#theZone-->

{% include 'common/sidebar.html' %}
{% include 'common/footer.html' %}