                    <div class="row row-eq-height">
                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox">
                                <img src="{{assets_img}}yacht_2.jpg" alt="">
                                <div class="overlay">
                                    <h1>COMPANY</h1>

                                    <div class="textBox">
                                        <p>Proprietor Mr John D Allen, from England, has over 20 years in precise search strategies, shielding clients from the many ambitious, and somewhat aggressive, brokers and agents.</p>
                                        <p>The family name Leveridge has a multi-generational history of excellent client confidentiality. With focus and nature of receiving by giving and trust via proof of service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-76 col-sm-200">

                            <form action="#" method="POST" id="request">
                                <ul>
                                    <li>
                                        <label for="description">What are you looking for?</label>
                                        <textarea name="description" id="description"></textarea>
                                    </li>
                                    <li>
                                        <label for="email">Email</label>
                                        <input type="email" placeholder="your@emailaddress.com" name="email" id="email">

                                        <input name="send" id="send" value="Send" type="submit">
                                    </li>
                                </ul>

                                <div class="formMeta">
                                    <small>Results will be sent to you, anonymously, in 48 hours.</small>
                                </div>
                            </form>

                            <!-- Small images-->
                            <div class="row small-images">

                                <div class="col-md-78">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}house.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}bmw_widescreen.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-122">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}ferrari_inside.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                            </div><!--/.small-images-->

                        </div>
                    </div>


                    <div class="row row-eq-height">
                        <div class="col-md-76 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}plane.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>

                            <!-- Small images-->
                            <div class="row small-images">

                                <div class="col-md-122">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}yacht.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-78">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}seats.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}table.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>

                            </div><!--/.small-images-->
                        </div>

                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}boat.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
