<div class="prodBox">
    <img src="{{assets_img}}yacht_2.jpg" alt="">
    <div class="overlay">
        <h1>COMPANY</h1>

        <div class="textBox">
            <p>Proprietor Mr John D Allen, from England, has over 20 years in precise search strategies, shielding clients from the many ambitious, and somewhat aggressive, brokers and agents.</p>
            <p>The family name Leveridge has a multi-generational history of excellent client confidentiality. With focus and nature of receiving by giving and trust via proof of service.</p>
        </div>
    </div>
</div>