<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{assets_css}}main.css">

    </head>
    <body>

        <div id="wrapper">

            <div class="container" id="theZone">
                <header id="pageHeader">
                    <a href="/" id="identity">
                        <img src="{{assets_img}}logo.png" alt="">
                    </a>
                    <ul class="motto">
                        <li>Independent</li>
                        <li>High Value Assets</li>
                        <li>Global Search</li>
                        <li>Anonymous Results</li>
                        <li>48 Hours</li>
                        <li>No Fees</li>
                    </ul>
                </header>

                <section id="content">

                    <div class="row row-eq-height">
                        <div class="col-md-124">
                            <a href="#"><img src="{{assets_img}}astonmartin.jpg" alt=""></a>
                        </div>
                        <div class="col-md-76">
                            <form action="#" method="POST" id="request">
                                <fieldset>
                                    <label for="description">What are you looking for?</label>
                                    <textarea name="description" id="description"></textarea>

                                    <label for="email">Email</label>
                                    <input type="email" placeholder="your@emailaddress.com" name="email" id="email">

                                    <input name="send" id="send" value="Send" type="submit">
                                </fieldset>

                                <div class="formMeta">
                                    <small>Results will be sent to you, anonymously, in 48 hours.</small>
                                </div>
                            </form>

                            <a href="#"><img src="{{assets_img}}luxurycar.jpg" alt=""></a>
                        </div>
                    </div>

                    <div class="row row-eq-height">
                        <div class="col-md-76">
                            <a href="#"><img src="{{assets_img}}plane.jpg" alt=""></a>
                            <a href="#"><img src="{{assets_img}}yacht.jpg" alt=""></a>
                        </div>
                        <div class="col-md-124">
                            <a href="#"><img src="{{assets_img}}boat.jpg" alt=""></a>
                        </div>
                    </div>
                </section><!--/#content-->


                <footer id="pageFooter">
                    <nav class="pagesNav">
                        {% include 'common/pages.html' %}
                    </nav>
                </footer>

            </div><!--/#theZone-->


            <aside id="sidebar">
                <nav class="pagesNav">
                    {% include 'common/pages.html' %}
                </nav>


                <ul class="partners">
                    <li><a href="#"><img src="{{assets_img}}partner_makeawish.png" alt=""></a></li>
                    <li><a href="#"><img src="{{assets_img}}partner_nspcc.png" alt=""></a></li>
                </ul>
            </aside>

        </div>

    </body>

    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto::latin', 'Merriweather::latin', 'Lato:400,300italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

</html>