                    <div class="row row-eq-height">
                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox">
                                <img src="{{assets_img}}services_blank.jpg" alt="">
                                <div class="overlay">
                                    <h1>SERVICES</h1>

                                    <div class="textBox">
                                        <p>Too many links? Expensive and time consuming to explore all the Avenues? Curious to search but value your  own privacy &amp; anonymity? </p>
                                        <p>Protect yourself by not having to engage with an aggressive, needy, and perhaps biased broker or agent.</p>
                                        <p>We specialize in your discretion, confidentiality, and within 48 hours we will email to you a concise pictorial summary of all of the entities you seek, for the locations, if any, you specify. </p>
                                        <p>Our talent is exhaustive searches, to your anon, keeping you anonymous and of course, you will not have to deal with the aggressive intrusive 'broker agents' that would otherwise be biased in showing you avenues that lean to their favor in terms of commissions for them.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-76 col-sm-200">
                            <form action="#" method="POST" id="request">
                                <fieldset>
                                    <label for="description">What are you looking for?</label>
                                    <textarea name="description" id="description"></textarea>

                                    <label for="email">Email</label>
                                    <input type="email" placeholder="your@emailaddress.com" name="email" id="email">

                                    <input name="send" id="send" value="Send" type="submit">
                                </fieldset>

                                <div class="formMeta">
                                    <small>Results will be sent to you, anonymously, in 48 hours.</small>
                                </div>
                            </form>

                            <div class="prodBox effect">
                                <img src="{{assets_img}}luxurycar.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-eq-height">
                        <div class="col-md-76 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}plane.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>

                            <!-- Small images-->
                            <div class="row small-images">

                                <div class="col-md-122">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}yacht.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-78">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}seats.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-78">
                                    <div class="prodBox effect">
                                        <img src="{{assets_img}}table.jpg" alt="">
                                        <div class="overlay">
                                            <div class="headings">
                                                <h2>Heading</h2>
                                                <h4>Subheading</h4>
                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>

                            </div><!--/.small-images-->
                        </div>

                        <div class="col-md-124 col-sm-200">
                            <div class="prodBox effect">
                                <img src="{{assets_img}}boat.jpg" alt="">
                                <div class="overlay">
                                    <div class="headings">
                                        <h2>Heading</h2>
                                        <h4>Subheading</h4>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
