<div class="prodBox">
    <img src="{{assets_img}}services_blank.jpg" alt="">
    <div class="overlay">
        <h1>SERVICES</h1>

        <div class="textBox">
            <p>Too many links? Expensive and time consuming to explore all the Avenues? Curious to search but value your  own privacy &amp; anonymity? </p>
            <p>Protect yourself by not having to engage with an aggressive, needy, and perhaps biased broker or agent.</p>
            <p>We specialize in your discretion, confidentiality, and within 48 hours we will email to you a concise pictorial summary of all of the entities you seek, for the locations, if any, you specify. </p>
            <p>Our talent is exhaustive searches, to your anon, keeping you anonymous and of course, you will not have to deal with the aggressive intrusive 'broker agents' that would otherwise be biased in showing you avenues that lean to their favor in terms of commissions for them.</p>
        </div>
    </div>
</div>