<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{assets_css}}main.css">

    </head>
    <body>

        <div id="wrapper">

            <div class="container" id="theZone">
                <header id="pageHeader">
                    <a href="/" id="identity">
                        <img src="{{assets_img}}logo.png" alt="{{title}}">
                    </a>
                    <ul class="motto">
                        <li><a href="">Independent</a></li>
                        <li><a href="">High Value Assets</a></li>
                        <li><a href="">Global Search</a></li>
                        <li><a href="">Discrete Results</a></li>
                        <li><a href="">48 Hours</a></li>
                        <li><a href="">No Fees</a></li>
                    </ul>
                </header>

                <section id="content">