#theZone {
    width: $content-width;
    float: left;
}

#content {
    margin-bottom: 50px;

    img {
        width: 100%;
        height: auto;
        display: inline-block;
    }
}

#request {
    background: $primary-color;
    padding: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63.8%;

    input,
    textarea {
        border: 1px solid #fff;
        padding: 15px;
        outline: 0;
        color: #000;
        @include border-radius( 10px );
    }

    #email {
        width: 72%;
    }

    #send {
        width: 25%;
        float: right;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 186px;
    }

    input[type="submit"] {
        text-transform: uppercase;
        background: #ff5300;
        color: #fff;
    }

    label {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: italic;
        display: block;
        font-size: 25px;
    }

    .formMeta {
        text-align: center;
        color: #fff;
        text-decoration: underline;
        font-style: italic;
        margin-top: 15px;
    }

    + * {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

}

[class*="col-"] {
    position: relative;
    overflow: hidden;
}

[class*="col-"] > * {
    display: block;
    margin-bottom: 1px;

    &:last-child {
        margin-bottom: 0;
    }
}
