#pageHeader {
    background: $primary-color;
    text-align: center;
    padding: 0 20px 20px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 15px;

    .motto {
        $bullet-margin: 6px;
        @include list-reset;

        text-align: center;
        color: rgba( 255, 255, 255, 0.4 );

        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: $bullet-margin;
            &:before {
                font-size: 26px;
                display: inline-block;
                vertical-align: top;
                content: '\000B7';
                margin: 2px  $bullet-margin 0 0;
            }

            &:first-child:before {
                display: none;
            }

            &:hover a {
            }
        }
        a {
            @include transition;
            display: inline-block;
            text-decoration: none;
            color: inherit;
            &:hover {
                @include transform( scale(0.9) );
            }
        }
    }

}

#identity {
    display: block;
    margin-bottom: 20px;
}

