#sidebar {
    width: $sidebar-width;
    float: right;

    > * {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .partners {
        text-align: center;
        @include list-reset;

        li {
            margin-bottom: 25px;
        }
    }


    @include respond-to( medium ) {
        width: 100%;
        margin-top: 20px;

        .pagesNav {
            display: none;
        }
    }
}

.pagesNav {
    overflow: hidden;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    width: 100%;

    ul {
        @include list-reset;
    }

    li {
        @extend %pageBox;
        @include transition;

        &:hover {
            @include transform( scale(0.97) );
            @include box-shadow( 0, 0, 3px, rgba( 0, 0, 0, 0.9 ) );
            @include opacity( 0.8 );
        }
    }

    a {
        padding-top: 95px;
        display: block;
    }

    #sidebar & {

        li {
            margin-top: 5px;
            width: 100%;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    #pageFooter & {

        li {
            margin-left: 0.8%;
            float: left;
            width: 24.4%;

            &:first-child {
                margin-left: 0;
            }
        }

    }

}
